.MainArea
  .Groups
    .Groups__message
      = Time.current.strftime("%Yねん%-mがつ%-dにち")
      %br/
      なにを やってみる？
    .Groups__list
      - @groups.each do |group|
        = link_to group_tasks_path(group), class: "GroupCard" do
          .Groups__card
            %p.Groups__content
              = group.name
