.MainArea
  .Tasks
    .Tasks__message
      ○がつ○にち○ようび
      %br/
      なにを やってみる？
    .Tasks__list
      - @groups.each do |group|
        = link_to group_tasks_path(group), class: "TaskCard" do
          .Tasks__card
            = group.name
