.MenuBar
  %ul.MenuLists
    %li.MenuList
      = link_to "1", "###", class: "MenuList__icon"
    %li.MenuList
      = link_to "2", "###", class: "MenuList__icon"
    %li.MenuList
      = link_to "3", "###", class: "MenuList__icon"
