.Tasks {
  margin: 0 auto;
  padding-top: 30px;
  width: 650px;
  &__info {
    color: #204495;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    line-height: 40px;
    letter-spacing: 0.2em;
  }
  &__time {
    text-align: right;
    width: 80px;
  }
  &__group {
    text-align: left;
    width: 350px;
    overflow: scroll;
  }
  &__card {
    width: 650px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #204495;
    border-left: solid 5px #132d66;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  &__contents {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
  &__startTime {
    width: 80px;
    padding-top: 20px;
    padding-left: 10px;
  }
  &__image {
    height: 250px;
  }
  &__content {
    width: 350px;
    padding: 20px;
    text-align: center;
  }
  &__edit {
    text-decoration: underline dotted #FF5722;
    color: #204495;
    font-weight: bold;
  }
  &__timer {
    width: 180px;
    &--moving {
    }
    &--btn {
    }
  }
}

.Buttons {
  position: fixed;
  right: 12px;
  bottom: 15px;
}
.Button__icon {
  margin-top: 10px;
  display: block;
  width: 56px;
  height: 56px;
  text-decoration: none;
  background-color: #204495;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 58px;
  transition: .3s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
  color: #ffffff;
  &:hover {
    box-shadow: 0 5px 6px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
}

.under {
  background: linear-gradient(transparent 20%, #a8eaff 50%);

}

.SettingTask {
  width: 450px;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto;
  height: 500px;
  &__message {
    font-size: 20px;
    color: #2e2e2e;
    font-weight: bold;
    padding: 20px 0;
    line-height: 2;
    letter-spacing: 0.1em;
  }
  &__form {
    margin-top: 15px;
  }
  &__input {
    width: 100%;
    line-height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 5px;
  }
  &__button {
    margin-top: 10px;
    display: inline-block;
    border: 0;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  }
  &__button:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);/*沈むように*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  }
}

