.Tasks {
  margin: 0 auto;
  padding-top: 30px;
  width: 650px;
  height: 100px;
  &__info {
    color: #204495;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    line-height: 40px;
    letter-spacing: 0.2em;

  }
  &__time {
    width: 200px;
  }
  &__group {
    text-align: center;
    width: 350px;
    overflow: scroll;

  }

  &__card {
    width: 650px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #204495;
    border-left: solid 5px #132d66;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  &__contents {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
  &__startTime {
    width: 80px;
    padding-top: 20px;
    padding-left: 10px;
  }
  &__image {
    height: 250px;
  }
  &__content {
    width: 350px;
    padding: 20px;
    text-align: center;
  }
  &__timer {
    width: 180px;
    display: flex;
    &--moving {
      line-height: 100px;
      font-size: 30px;
    }
    &--btns {
      font-size: 10px;
      height: 100px;
      line-height: 30px;
      padding: 5px 0;
      margin: 0 10px 0 30px;
    }
  }
}

.Buttons {
  position: fixed;
  right: 12px;
  bottom: 15px;
}
.Button__icon {
  margin-top: 10px;
  display: block;
  width: 56px;
  height: 56px;
  text-decoration: none;
  background-color: #204495;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 58px;
  transition: .3s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
  color: #ffffff;
  &:hover {
    box-shadow: 0 5px 6px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
}

.under {
  background: linear-gradient(transparent 20%, #a8eaff 50%);

}

